body {
	background-color: #eee;
	font-family: sans-serif;
}
img {
	background: #ccc;
	border: 1px solid gray;
	border-radius: 100px;
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-left: 200px;
	float: left;
	padding: 5px;
}
p {
	line-height: 1.5em;
	font-family: sans-serif;
	float: right;
	width: 400px;
	height: 500px;
	margin-right: 200px;
}
div p {
	line-height: 1.5em;
	font-family: sans-serif;
	float: right;
	width: 400px;
	height: 500px;
	margin-right: 100px;
}
 .prev {
	display: inline-block;
	float: left;
	border: 1px solid gray;
	border-radius: 100px;
	background-color: #FFAC4A;
	height: 50px;
	width: 50px;
	text-decoration: none;
	line-height: 3em;
	text-align: center;
	color: black;
	font-family: Verdana;
}
 .next {
	display: inline-block;
	float: right;
	border: 1px solid gray;
	border-radius: 100px;
	background-color: #FFAC4A;
	height: 50px;
	width: 50px;
	text-decoration: none;
	line-height: 3em;
	text-align: center;
	color: black;
	font-family: Verdana;
}
.home {
	display: inline-block;
	float: right;
	border: 1px solid gray;
	border-radius: 100px;
	background-color: #FFAC4A;
	height: 60px;
	width: 60px;
	text-decoration: none;
	line-height: 3.5em;
	text-align: center;
	color: black;
	font-family: Verdana;
}

h1 {
	text-align: center;
	font-family: 'UnifrakturMaguntia', cursive;
	padding-top: 40px;
	font-size: 3em;

}
li {
	font-family: 'Caesar Dressing', cursive;
	font-size: 1.3em;
	line-height: 1.7em;
	margin-left: 100px;
}
.links {
	display: inline-block;
	width: 400px;
	float: left;
}
.info {
	display: inline-block;
	width: 500px;
	float: left;
	margin-left: 150px;
}
