body {
	background-color: #EEE;
	font-family:sans-serif;


}

img {

	width:200px;
	height:200px;
	margin:0 auto;
	border:1px solid gray;
	padding: 5px;
	display:block;
	background:#AAA;
	border-radius:50%;

}

p {
	line-height:1.5em;

}

h1{

	text-align:center;
}

button:hover{

background-color: light blue;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

li {
	display:inline;
	margin: 0 auto;
	padding:5px;

}

a {

text-decoration: none;



}
