h1{
	font-size: 30px;
	font-family: cursive;
	color: black;
	border-bottom: 2px solid black;
	text-align: center;
	line-height: 400%;
}
.headings_type{
	color: white;
	border: 1px solid black;
	background:black;
}
.subpoints{
	font-size: 10px;
	font-family: Verdana;
	background:;
}
img{
	border-radius: 20px;
	float: left;
	height: 100px;
}

ul{
	background-color: #f4f4f4;
	margin: -20px -0px -19px 0px;
	border: 1px solid black
}

footer{
	text-align: left;
	border-top: 2px solid black;
	margin-top: 40px;
	background-color: #f4f4f4; 
}
html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}
.page{
	width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    background-color: #f4f4f4;
}
.pic{
	float:left;
	height:50px;
}
a{
	line-height: 50px;
	color: black;
}




