body {
	background color: #EEE;

font-family: sans-serif;
}

img{
	background:#CCC;
	border: 1px solid gray;
	display: inline-block;
	float: left;
	margin: 10px;
	max-width: 200px;
	padding: 5px

}

p {
	line-height: 1.5em
}