body {
	background-color: #fff;
	color:#333;
	font-family: sans-serif;

}

img {
	background:#CCC;
	max-width: 200px;
	float:left;
	border:1px solid gray;
	display: inline-block;
	margin: 10px;
	padding: 5px;
}

p {
	line-height: 1.5em;
}

li {
	display:inline;
	padding: 4px;
}

ul {
	margin-bottom: 50px;
}

hr {
	margin-bottom: 30px;

}

.home{
	float:right;
	margin-top: -50px;

}