html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #6699aa;
    color: #333;
}

h1 {
    font-size: 32px;
    font-weight: 200;
    color: #666;
    font-family: Tahoma;
}
h2 {
    font-weight: bold;
    color: #000066;
    font-size: 18px;
    font-family: Helvetica;
}
a {
    color: #0099e5;
    text-decoration: none;
}

.page {
    width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    background-color: white;
    border-radius: 10px;
}


.avatar-image {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

header h1 {
    line-height: 110px;
}

article {
    padding: 5px;
}
.publishing-experience {
    width: 800px;
    border-radius: 5px;
    background-color: white;
}
.professional-interests {
    width: 800px;
    border-radius: 5px;
    background-color: white;
}
footer {
    background-color: white;
    width: 800px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    font-weight: 5px;
}
.places {
    float: right;
}

.people {
    float: left;
}