body{
	background-color: #888888;
	font-family: sans-serif;
}

img{
	max-width: 200px;
	float: left;
	margin: 0 10px 10px 10px;
	max-width: 200px;
	padding: 5px;
	display: inline-block;
	border: 1px solid gray;
	background: #999999;
}

p{
	line-height: 1.5em;
	margin: 0px;
	padding: 0px;
	width: 33%;
	float: left;
}

.back{
	font-size: 0.5em;
}

a:link {
	color:#222222;
	text-decoration: none;
}      /* unvisited link */

a:visited {
	color:#222222;
}  /* visited link */

a:hover {
	color:blue;
}  /* mouse over link */

a:active {
	color:blue;
}  /* selected link */
