/* Css for Personal Profile */
body {
	background-color: #333;
	font-family:Helvetica, Arial;
	font-size:16px;

}

.box {
	width:700px;
	height:350px;
    margin: 60px auto;
    padding: 10px 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    background-color: #fff;


}

.mypik {

	width:250px;
}

h1 {
	color:grey;
	font-family: Verdana;
	text-align: center;
}

.info {
	margin-top: -232px;
    float: right;
    padding-right: 100px;
}

h3 {
	font-size: 20px;
    font-weight: 200;
    color: #666;
}

.rdio{
	width:100px;
	float: right;
  margin-right: -100px;
}

.class {
	background-image: ('img/rdio-logo.png');
	display:inline;
}