body {
	background-color: #fff; 
	font-family: sans-serif;
}

img {
	background: #e58;
	border: 1px solid gray;
	float: left;
	max-width: 300px;
	margin: 10px;
	padding: 5px;
	display:block;
}

p {
	line-height: 1.5em;
}

li {
	display: inline;
	padding: 5px;
}