html {
	font-family: sans-serif;
}
h1 img {
	border: 5px solid transparent;
	border-radius: 100%;
	vertical-align: middle;
	width: 100px;
}
h1 img:hover {
	border: 5px solid black;
}
img {
	max-width: 100%;
}
.red {
	color:red;
	font-size: 15px;
}