body {
	background-color:#EEE;
	font-family:Arial;
}

img {
	max-width: 200px;
	float: left;
	margin: 10px;
	border: 1px solid gray;
	display: inline-block;
	padding: 5px;
	background: #CCC;
}

p {
	line-height: 1.5em;
}

li:hover {
	background-color:#ff69b4;
}


.sdf {
	list-style: none;
	margin:0;
	padding:5px;
	overflow:hidden;
}

.sdf li {
	display:inline;
}

.sdf li a {

}
