img {

max-width:280px;
max-height:280px;
vertical-align: middle;
}

.photo {
	margin:10px;
	
}

@media (max-width:768px) and (max-width:900px);  {
	.container {
		width:600px;
	}

}	

@media (min-width:768px) {
	
	img {

		max-height:280px;
		vertical-align:middle;
		max-width:280px;
		width:auto;
	}

	.photo {

		background-color:#333;
		float:left;
		line-height:280px;
		text-align:center;
		width:280px;
		height:280px;
	}

	.container {
	margin:0px auto;
	width:900px;

	}
}