body {
	background-color: #D80000 ;
}
img{
	background: #CCC;
	border: 1px solid grey;
	display:inline-block;
	float: left;
	margin: 10px;
	max-width: 200px;
	padding: 5px;
}
p{
	line-height:1.5em;
	font-family: Arial
}
h1{
	color: #2E2E2E;
	font-family: Cursive;
	text-decoration: underline;
}
li{
	color:#2E2E2E;
}
