.avatar{
	height: 250px;
	width: 250px;
	border-radius: 250px;
	float: left;
}

header{
	height: 300px;
}

h1{
	line-height: 250px;
	text-align: center;
}

body{
	background-image: url("../images/thunder.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.page{
	background-color: rgba(0,0,0,0.6);
	width:830px;
	margin:0 auto;
	padding: 30px;
}

.resume{
color: #fff;
font-family: Oxygen;
}
.footer-text{
	text-align: center;
	color: #fff;
}

#heart{
	color: red;
}