body {
    height: 1000px;
}
div {
    border-radius: 5px;
}
#header h1 {
    font-family: cursive;
    margin-left: 200px;
    font-size: 4em;
    margin-top: -130px;
    text-align: center;
}
img {
    border: 5px solid transparent;
    border-radius: 100%;
    width: 140px;
    vertical-align: middle;
    margin-left: 45px;
}
img:hover {
    border: 5px solid black;
    width: 145px;
}
#header {
    z-index:1;
    background-color: #85B9FF;
    width: 99%;
    height: 160px;
    margin-top: 5px;
    display: inline-block;
    position: fixed;
}
.right {
    background-color: #DAE5FF;
    position: relative;
    width: 81%;
    height: 700px;
    display: inline-block;
    margin-top: 170px;
    margin-bottom: 10px;
    float: left;
    margin-left: 10px;
}
.right p {
    text-align: center;
}
.right h5 {
    margin-left: 10px;
    margin-bottom:-10px;
}
.right li {
    font-size: 1.3em;
    font-family: Garamond;
    margin-left: 30px;
}
.left {
    position: relative;
    background-color: #9DC93F;
    width: 18%;
    height: 700px;
    margin-top: 170px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
}
.left h2 {
    text-align: center;
    font-family: Garamond;
    letter-spacing: 1px;
    line-height: 2em;
}
#footer {
    background-color: #319E7D;
    position: relative;
    width: 99%;
    height: 90px;
    line-height: 80px;
    clear: both;
}
#footer a {
    margin-left: 500px;
    color: black;
    font-family: cursive;
    font-size: 1.5em;
}
#footer a:hover {
    text-decoration: none;
}