body {
	background-color: #EEE;
	font-family: sans-serif;
	margin: 25px;
}

img {
	
	background: #CCC;
	border: 1px solid gray;
	display:inline-block;
	float:left;
	max-width: 200px;
	margin: 10px;
	padding: 5px;
}

p {
	line-height:1.5em;
}

button { 
	font-size: 20px;
	color: #ffffff;
}

button a:link {
	text-decoration: none;
}

button a:visited {
	color: #ffffff;
}


