/*--------General Page Layout--------*/


body{
	background-image: url("../images/background.jpg");
	background-size: cover;
	margin: 0 auto;
}

.page{
	background-color: #ffffff;
	width: 960px;
	margin:0 auto;
}


/*-----------HEADER-----------*/


header{
	height: 250px;
	margin: 0 auto;
}

#profile-pic{
	clear: both;
	width: 9em;
	height:9em;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

img.avatar{
	height: 105%;
	width: 105%;
/*--border-radius: 100%;--*/

}

.nav{
	margin: 0 auto;
	padding: 15px 0 15px 0;
	width: 700px;
	z-index: 99;
	display: flex;
	clear: both;
}

.nav-item{
	float: left;
	width: 20%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 0.65em;
	letter-spacing: 0.1em;
	color: #000;
	line-height: 1em;
	text-align: center;
	margin: 0 auto;
}

/* unvisited link */
a:link {
	color:#000000;
	text-decoration: none;
}      

/* visited link */
a:visited {
	color:#000000;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color:red;
	text-decoration: none;
}

/* selected link */
a:active {
	color:red;
	text-decoration: none;
}

/*-----------TYPOGRAPHY-----------*/


h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 2.25em;
	color: red;
	line-height: 1em;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 3em;
	color: #000;
	line-height: 2em;
	text-align: center;
}

h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.8;
	color: #000;
	line-height: 2em;
}


/*-----------Site Components-----------*/

/*--Bio--*/

.bio-pic{
	width: 960px;
	height: 500px;
	background-color: rgba(0,0,0,0.25);
}

.about_copy{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.75em;
	color: #000;
	padding: 2em;
	width: 700px;
	height: 250px;
	margin: 0 auto;
}


/*--Resume--*/

.experience{
	color: #000;
	padding: 2em;
}

ul{
	list-style-type: none;
	padding: 0;
}


p.job-title{
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: bold;
	position: static;
	width: 25%;
	float: left;
	margin: auto;
}

p.job-date-company{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	position: static;
	float: left;
	clear: both;
	margin: auto;
}

p.job-details{
	margin: 0 auto;
	padding: 15px 0 15px 0;
	width: 700px;
	z-index: 99;
	display: flex;
	clear: both;
}

p.job-responsibilities{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.85em;
	width: 30%;
	float: left;
	margin: 10px auto;
	padding-right: 2%;
	clear:left;
}

p.job-things-learned{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.85em;
	width: 30%;
	float: left;
	margin: 10px auto;
	padding-right: 2%;
	padding-left: 2%;
}

p.job-focusing-on{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.85em;
	width: 30%;
	float: right;
	margin: 10px auto;
	padding-left: 2%;
}



/*-----------FOOTER-----------*/
.footer-text{
	text-align: center;
	color: #000;
}

#heart{
	color: red;
}

